$black-medium: #101010;
$black-dark: #000000;
$black-light: #202020;

$white-medium: #F3F3F3;
$white-dark: #E7E7E7;
$white-light: #FFFFFF;

$red-medium: #E72A2A;
$red-dark: #DB2424;
$red-light: #F32F2F;