$black-medium: #101010;
$black-dark: #000000;
$black-light: #202020;

$white-medium: #F3F3F3;
$white-dark: #E7E7E7;
$white-light: #FFFFFF;

$red-medium: #2a37e7;
$red-dark: #2724db;
$red-light: #2f84f3;